body.sessions.new,
body.registrations.new {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(206, 233, 242);
  }
  .remember-me {
    display: inline-block;
  }
  .devise-links {
    margin-top: 2em;
  }
}
