// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.css1 { font-size: 2em;}
.css2 { font-size: 3em;}
.css3 { font-size: 4em;}
.css4 { font-size: 5em;}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.tags-wrapper {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

a.tag {
  color: $gray-light;
  background-color: #fff;
  padding: 0.5em 0.7em;
  border: 1px solid $gray-dark;
border-radius: $border-radius-base;
 text-decoration: none;
  margin-right: 10px;
  margin-bottom: 12px;
  font-size: 13px;
  &:hover {
    border-color: $brand-success;
    color: #555;
  }
}
